apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-role-controller
  namespace: node-labeler
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: node-role-controller
          image: ghcr.io/mchmarny/node-role-controller:v0.4.7@sha256:d23b55a5b88196a62c549a7c5bcd115031ee0c013baa96c9bfa0f58b6e94de22
