name: on_push

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:

  test:
    env:
      GO_VERSION: "1.25.0"
      ERR_VULNERABILITY_SEV: "CRITICAL,HIGH,MEDIUM"
      LINTER_VERSION: "v2.4.0"
      LINTER_GO_CONFIG_PATH: ".golangci.yaml"
      LINTER_YAML_CONFIG_PATH: ".yamllint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      id-token: write
    steps:
    - uses: mchmarny/common/go-test@af0d47c1afa3547e2ff8a4a25ec05d3b3d0f9ee6
      with:
        go-version: ${{ env.GO_VERSION }}
        scan-severity: ${{ env.ERR_VULNERABILITY_SEV }}
        linter-version: ${{ env.LINTER_VERSION }}
